<form action="/recipes" method="POST">
  Recipe's name :<br>
  <input type="text" name="name"><br>
  Recipe's cook time :<br>
  <input type="text" name="cook_time"><br>
  Recipe's difficulty<br>
  <input type="radio" name="difficulty" value="Très facile"> Très facile<br>
  <input type="radio" name="difficulty" value="Facile"> Facile<br>
  <input type="radio" name="difficulty" value="Niveau moyen"> Moyen<br>
  <input type="radio" name="difficulty" value="Difficile" checked> Difficile<br>
  <input type="submit" value=Create!>
</form>
