<form action="/recipes" method="POST">
  <input type="radio" name="recipe" value="Très facile"> Très facile<br>
  <input type="radio" name="recipe" value="Facile"> Facile<br>
  <input type="radio" name="recipe" value="Niveau moyen"> Moyen<br>
  <input type="radio" name="recipe" value="Difficile" checked> Difficile<br>
  <input type="submit" value=Create!>
</form>
