<form action="/import" method="POST">
  Search :<br>
  <input type="text" name="keyword" value="Très facile"><br>
  <input type="radio" name="difficulty" value="Très facile"> Très facile<br>
  <input type="radio" name="difficulty" value="Facile"> Facile<br>
  <input type="radio" name="difficulty" value="Niveau moyen"> Moyen<br>
  <input type="radio" name="difficulty" value="Difficile" checked> Difficile<br>
  <input type="submit" value=Search>
</form>
